.DS_Store
thumbs.db
*.bc

*.o
*.d


build/dist
build/ffmpeg/config.fate
build/ffmpeg/config.h
build/ffmpeg/config.log
build/ffmpeg/config.mak
build/ffmpeg/ffprobe
build/ffmpeg/ffmpeg
build/ffmpeg/ffprobe_g
build/ffmpeg/libavcodec/libavcodec.a
build/ffmpeg/libavdevice/libavdevice.a
build/ffmpeg/libavfilter/libavfilter.a
build/ffmpeg/libavformat/libavformat.a
build/ffmpeg/libavutil/libavutil.a
build/ffmpeg/libswresample/libswresample.a
build/ffmpeg/libswscale/libswscale.a
build/ffmpeg/libavcodec/libavcodec.pc
build/ffmpeg/libavdevice/libavdevice.pc
build/ffmpeg/libavfilter/libavfilter.pc
build/ffmpeg/libavformat/libavformat.pc
build/ffmpeg/libavutil/libavutil.pc
build/ffmpeg/libpostproc/libpostproc.a
build/ffmpeg/libpostproc/libpostproc.pc
build/ffmpeg/libswresample/libswresample.pc
build/ffmpeg/libswscale/libswscale.pc
build/ffmpeg/doc/config.texi
build/ffmpeg/doc/examples/pc-uninstalled/libavcodec.pc
build/ffmpeg/doc/examples/pc-uninstalled/libavdevice.pc
build/ffmpeg/doc/examples/pc-uninstalled/libavfilter.pc
build/ffmpeg/doc/examples/pc-uninstalled/libavformat.pc
build/ffmpeg/ffmpeg_g

build/zlib/libz.a
build/zlib/example
build/zlib/example64
build/zlib/minigzip
build/zlib/minigzip64